<div class="display-flex">

  <div class="rounded-lg zoom-in" style="margin: 30px;">

    {{ if .Params.thumbnail }}
    <a href="{{ urlize .Params.thumbnail }}" target="_blank">

      <img src="{{ urlize .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-xl w-full object-cover"
        style="height: 260px; object-fit: contain;">

      {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
      <div class="text-center text-black text-sm py-3" style="font-size: 1rem;">
        {{ .Params.title }}
      </div>
      {{ end }}

    </a>
    {{ end }} {{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
    {{ if .IsTranslated -}}
    <div style="font-style: italic;font-size: smaller;">
      {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
      {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
      {{- $cleanLinks := apply $links "chomp" "." -}}
      {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
      {{ i18n "translationsLabel" }}{{ $linksOutput }}
    </div>
    {{- end }}
    {{ end }}

  </div>

</div>

<!-- <style>
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>

  <div class="container">
    <a href="{{ .Params.thumbnail }}" target="_blank">
        {{ if .Params.thumbnail }}
        <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="image"/>
        {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
        <div class="overlay">
          <div class="text">
            {{ .Params.title }}
          </div>
          {{ end }}
        </div>
        {{ end }}
    </a>
    {{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
      {{ if .IsTranslated -}}
        <div style="font-style: italic;font-size: smaller;">
          {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
          {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
          {{- $cleanLinks := apply $links "chomp" "." -}}
          {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
          {{ i18n "translationsLabel" }}{{ $linksOutput }}
        </div>
      {{- end }}
    {{ end }}
  </div>-->